# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.env
*.db

# Virtual Environment
venv/
env/
env.bak/

# Flask
instance/
*.log
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# IDE and Editor specific
.vscode/
.idea/
*.swp
